body {
    font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:13pt;
}

.jumbotron {
	text-align: center;	
    text-shadow: black 0.3em 0.3em 0.3em;
	overflow:hidden;
}

.inverse {
	background-color:#35404f !important;
	color: white !important;
}

.default {
	background-color:white;
	color: black;
}

.gray {
    background-color: #F7F7F7;
    color: black;
}

.default hr {
    border-color: #35404f;
}

.container {
	padding-bottom: 100px;
	padding-top:50px;
}

hr {
    margin-top: 0px;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
	padding-bottom: 10px;
}

.navbar-default {
    background-color:#E5E5E5;
}


#highlight .item{
    text-align: center;
    padding-bottom: 30px;
}

#highlight .cogs{
   color:#a3d39c;
}

#highlight .group{
    color:#7accc8;
}

#highlight .play{
    color:#4aaaa5;
}

#highlight .button{
    text-align:  center;
}

.projects {
    size:100%;
    padding: 0;
    margin: 0;
}

.projects ul {
    list-style: none;
    width: 99%;
    margin: auto;
}
.projects li {
    margin-left:30%;
    margin: 5px;
    margin-bottom: 15px;
    font-size:12pt;
    float: left;
    height:300px;
    width: 350px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.centered {
    align-items: center;
}

#huffman-icon {
    background: url("../img/ca_square.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#huffman-icon:hover {
    background: url("../img/ca_square_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tunder-icon {
    background: url("../img/tunder_square.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#tunder-icon:hover {
    background: url("../img/tunder_square_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

li:hover b {
    display: block;
}

.projects b {
    color: white;
    display: none;
}

#highlight .button{
    text-align:  center;
}

#contact{
    background-color: #D1D1D1;
    padding-bottom: 50px;
}

form{
    text-align: center;
}

form input{
    width: 100%;
}

input.btn{
    width: 30%;
    background-color: #a3d39c; 
}

input.btn:hover{
    background-color: #8AB384;
}

.carosel-inner{
	transition: 20.0s ease-in-out left;
}

#slide1,#slide2,#slide3,#slide4{
	min-height:500px;
}

#resHigh p{
    text-align: center;
    font-size: 18px;
}

#resHigh{
    text-align: center;
}

#slide1{
    width: 100%;
    height: 100%;
	background-image: url(../img/group.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#resHigh .item:hover #slide1{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/group.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#slide2{
    width: 100%;
    height: 100%;
	background-image: url(../img/cs201.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: black;
}

#resHigh .item:hover #slide2{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/cs201.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#slide3{
    width: 100%;
    height: 100%;
	background-image: url(../img/wind_symph.jpeg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: bottom center;
	color: white;
}

#resHigh .item:hover #slide3{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/wind_symph.jpeg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: bottom center;
	color: white;
}

#slide4{
    width: 100%;
    height: 100%;
	background-image: url(../img/little_bits.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: black;
}

#resHigh .item:hover #slide4{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/little_bits.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#resHigh .item h2{
	padding-top: 150px;
	display:block;
}

#resHigh .item p{
	display:none;
}

#resHigh .item:hover h2{
	display:none;
}

#resHigh .item:hover p{
	display:inline-block;
    margin-top: 20%;
	max-width: 600px;
}

#resHigh .item {
    background-color: white;
    margin: 5px;
}

#resHigh #myCarousel {
    margin: 20px;
}

#resHigh h1 {
    margin-top: 50%;
    font-size: 60px;
}

#resHigh .container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 100px;
}

.button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer{
    color:#222222;
    background-color:#E5E5E5;
}

.footer ul{
    text-align: center;
    list-style:none;
    margin:10px;
    padding:10px;
}

.footer li{
    display:inline;
    padding:10px;
}

.footer a{
    color:#777;
}

.footer a:hover{
    color:white;
}
